@import 'variables';

.cd-main-content {
  background: $color-3;
  min-height: 100vh;
  z-index: $content;
}

.cd-main-header {
  height: $header-height-S;
  background: $color-4;
  z-index: $above-content;
}

img.cd-logo {
  position: absolute;
  top: 0;
  left: 5%;
  height: 50px;
  widht: auto;
}

.cd-header-buttons {
  position: absolute;
  display: inline-block;
  top: 15px;
  right: 5%;

  li {
    display: inline-block;
  }
}
