<header class="cd-main-header">
  <a class="cd-logo" href="#0"><img src="img/cd-logo.svg" alt="Logo"></a>

  <ul class="cd-header-buttons">
    <li><%= link_to 'user login', new_customer_session_path, class: "cd-search-trigger" %></li>
    <li><%= link_to 'host login', new_user_session_path, class: "cd-nav-trigger" %></li>
  </ul>
</header>
